<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <main class="d-flex flex-column vh-100">
        <%- include('../partials/navbar.ejs') %>
        <%- include('../partials/flash.ejs') %> 
        <h1> <%= stocks[0].ticker %> Stocks </h1>
        <ul class="stocks_of_ticker">
            <% for (let i = 0; i < stocks.length; ++i) {%>
                <li class="stock">
                    <%= stocks[i].ticker %> <%= i %> 
                    <ul>
                        <% if (stocks[i].purchasePrice) {%>
                            <li> Purchased At: $<%= stocks[i].purchasePrice %> </li>
                        <% } %>
                        <% if (stocks[i].sellThresholdPrice) {%>
                            <li> Threshold Selling Price: $<%= stocks[i].sellThresholdPrice %> </li>
                        <% } %>
                        <% if (stocks[i].amountBought) {%>
                            <li> Amount of Stocks Bought: <%= stocks[i].amountBought %> </li>
                        <% } %>
                    </ul>
                </li>
                <a href="/stock/<%=stocks[i]._id%>/<%= i %>/update"> Edit </a>
                <form action="/stock/<%=stocks[i]._id%>/delete?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            <% } %>
        </ul>
        <a href="/stock/portfolio">Back To Portfolio</a>
        <%- include('../partials/footer.ejs')%>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>