<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit <%= stock.ticker %> <%= i %>  </h1>
    <form action="/stocks/<%= stock._id %>?_method=PUT" method="POST">
        <input type="text" placeholder="Ticker Name" name="ticker" value="<%= stock.ticker %>">
        <input type="text" placeholder="Price of Purchase" name="purchasePrice" value="<%= stock.purchasePrice %>">
        <input type="text" placeholder="Threshold Selling Price" name="sellThresholdPrice" value="<%= stock.sellThresholdPrice %>">
        <input type="text" placeholder="Amount of Stocks Bought" name="amountBought" value="<%= stock.amountBought %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>