<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= stocks[0].ticker %> Stocks </h1>
    <ul class="stocks_of_ticker">
        <% for (let i = 0; i < stocks.length; ++i) {%>
            <li class="stock">
                <%= stocks[i].ticker %> <%= i %> 
                <ul>
                    <% if (stocks[i].purchasePrice) {%>
                        <li> Purchased At: $<%= stocks[i].purchasePrice %> </li>
                    <% } %>
                    <% if (stocks[i].sellThresholdPrice) {%>
                        <li> Threshold Selling Price: $<%= stocks[i].sellThresholdPrice %> </li>
                    <% } %>
                    <% if (stocks[i].amountBought) {%>
                        <li> Amount of Stocks Bought: <%= stocks[i].amountBought %> </li>
                    <% } %>
                </ul>
            </li>
            <a href="/stocks/<%=stocks[i]._id%>/<%= i %>/edit"> Edit </a>
            <form action="<%=stocks[i]._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        <% } %>
    </ul>
    <a href="/">Main Page</a>
</body>
</html>